# --------------------------------------------------------------------
# This file is part of libdistmesh.
#
# libdistmesh is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
#
# libdistmesh is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with libdistmesh. If not, see <http:#www.gnu.org/licenses/>.
#
# Copyright (C) 2015 Patrik Gebhardt
# Contact: patrik.gebhardt@rub.de
# --------------------------------------------------------------------

# Debug configuration (uncomment to build with debug configuration enabled)
# DEBUG := 1

# To customize your choice of compiler, uncomment and set the following.
# CXX := clang++

# Add something to include and library paths
INCLUDE_DIRS := /usr/local/include
LIBRARY_DIRS :=
